/*...............................Generalstyles..........................................*/






/*...............................End of general styles..........................................*/

/*...............................Reusable classes..........................................*/

.footer-text{

		padding: 10px;
}

/*...............................End of reusable classess..........................................*/
.thumbnail{
	height: 200px;
	width: 340px;
}